---
import Elementportfolio from "./objects/Elementportfolio.astro";
---

<section id="blog">
  <h2>Blog</h2>
  <Elementportfolio
    scr="/image/blog_item_01.jpg"
    title="Hundreds of thousands a still more glorious nights around art"
    description="Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean paroxysm of global death rich in heavy atoms with pretty stories for which ..."
    name="READ FULL STORY"
    width="430px"
  />

  <Elementportfolio
    scr="/image/blog_item_02.jpg"
    title="Preserve and cherish that pale blue dot are light years"
    description="Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean paroxysm of global death rich in heavy atoms with pretty stories for which ..."
    name="READ FULL STORY"
    width="430px"
  />

  <Elementportfolio
    scr="/image/blog_item_03.jpg"
    title="Great turbulent clouds hearts of the stars stirred by starlight sky"
    description="Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean paroxysm of global death rich in heavy atoms with pretty stories for which ..."
    name="READ FULL STORY"
    width="430px"
  />
</section>
<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: relative;
    h2{
      top: 6%;
    right: 83%;
    }
    @media screen and (max-width: 1024px) {
      h2{
          top: -8%;
          left: 0;

      }
    }
    @media screen and (max-width: 825px) {
        h2{
            top: -4%;
        }
    }
  }
</style>
