---
import Elementexp from "./objects/Elementexp.astro";
---

<section id="experience">
  <Elementexp
    date="September, 2016 – May, 2017"
    job="Junior Developer"
    description="Sed quia consequuntur magni dolores eos quira tione estera voluptatem sequi nesciunt nuncera permano nence of the stars from which we spring."
    where="Lobrissa / Chicago"
  />
  <Elementexp
    date="May, 2017 – Jun, 2018"
    job="Senior Developer"
    description="Consequuntur magni dolores eos quira tione estera voluptatem sequi nesciunt nuncera permanotesa."
    where="Faucibuse / Seattle"
  />
  <Elementexp
    date="Jun, 2018 – December, 2019"
    job="Senior Developer"
    description="Magni dolores eos quira tione estera voluptatem sequi nesciunt nuncera permano nence of the stars from voluptatem sequi nesciunt nuncera polimos kokolos etc."
    where="Reesturato / New York"
  />
  <Elementexp
    date="December, 2019 – Current"
    job="CEO"
    description="Tristique amet volutpat nunc euismod mauris nonce ollicitudin est sempe vulputate id in nullam. Purusat tincidunt maga ut turpis eu, eu enim. Nisl porttitor elit koteros musico."
    where="Ercussa / San Francisco"
  />
</section>

<style lang="scss">
  @import "../layouts/stylesheet/main.scss";
  section {
    border-bottom: 2px solid $violet;
  }
</style>
