---
---

<section>
  <img src="/image/logo.png" alt="" />
  <a href="/#home"><p>HOME</p></a>
  <a href="/#about"><p>ABOUT</p></a>
  <a href="/#service"><p>SERVICES</p></a>
  <a href="/#portfolio"><p>PORTFOLIO</p></a>
  <a href="/#skills"><p>SKILLS</p></a>
  <a href="/#experience"><p>EXPERIENCE</p></a>
  <a href="/#blog"><p>BLOG</p></a>
  <a href="/#testimonial"><p>TESTIMONIAL</p></a>
  <a href="/#contact"><p>CONTACT</p></a>
  <a href="#!"><p>EXTRA PAGES</p></a>
</section>

<style lang="scss">
  @import "../layouts/stylesheet/main.scss";
  section {
    position: fixed;
    top: 72px;
    right: 5%;
  }
  img {
    width: 140px;
    height: 140px;
    margin-bottom: 57px;
  }
  p {
    font-size: 14px;
    font-family: "Poppins";
    color: $darkviolet;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 14px;
  }
</style>
