---
import Scroll from "./animations/Scroll.astro";
---

<section id="home">
  <div class="part1">
    <h1>
      Hello <br />
      I’m Jenn <br />
      Walkers <br />
    </h1>

    <p>UI designer, photographer and travel enthusiast</p>
    <div class="scroll">
      <Scroll />

    </div>
  </div>
  <img src="/image/main_img.jpg" alt="" />
</section>

<style lang="scss">
  @import "../layouts/stylesheet/main.scss";
  img {
    border-radius: 30px;
    margin-left: 50px;
    max-width: 100%;
    height: fit-content;


  }
  @media screen and (max-width: 1050px) {
        img{
          width: 70%;
          
        }

      }
  

  p {
    font-size: 22px;
    color: $violet;
    font-family: "Poppins";
    max-width: 300px;
  }
  section {
    display: flex;
    justify-content: center;
    flex-direction: row;

    .part1 {
      width: 32%;
      z-index: 10;
      display: flex;
      flex-direction: column;
      gap: 55px;
      margin-top: 6%;
    
      @media screen and (max-width: 1050px) {
        h1{
          font-size: 100px;
        }
        p{
          font-size: 18px;
        }
      }
      @media screen and (max-width: 800px) {
        h1{
          font-size: 60px;
          line-height: 60px;
          width: 278px;
        }
        p{
          font-size: 18px;
        }
      }
      @media screen and (max-width: 300px) {
        h1{

          width: fit-content;
        }

      }
    }
    @media screen and (max-width: 800px) {
        .part1{
          gap: 12px;
        
      }
      .scroll{
        display: none;
      }
    }
   
    
  }
  @media screen and (max-width: 800px) {
        section{
          display: flex;
          flex-direction: column-reverse;
        
      }
      img{
        width: 100%;
        margin: 0;
        
      }
    }
  
</style>
