---
import Elementportfolio from "./objects/Elementportfolio.astro";
import Link from "./objects/Link.astro";
---

<section id="portfolio">
  <h2>Portfolio</h2>
  <Elementportfolio
    scr="/image/portfolio_item_01.jpg"
    title="Web Design"
    description="Mauris volutpat estera phasellus varius nec orci, quam augue se loremes lines pellentesque non"
    name="view more"
    width="650px"
  />

  <Elementportfolio
    scr="/image/portfolio_item_02.jpg"
    title="Grid"
    description="Volutpat estera phasellus varius nec orci, quam augue se loremes lines pellentesque non mareque"
    name="view more"
    width="650px"
  />

  <Link name="LOAD MORE" />
</section>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    h2{
      top: 24%;
      right: 58%;
    }
    @media screen and (max-width: 1024px) {
      h2{
          top: -8%;
          left: 0;

      }
    }
    @media screen and (max-width: 825px) {
        h2{
            top: -5%;
        }
    }
  }
</style>
