---
import Biground from "../components/objects/Biground.astro";
import Littleround from "../components/objects/Littleround.astro";
import "./stylesheet/main.scss";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <Biground left='58%' top='8%'/>
  <Biground left='49%' top='36%'/>
  <Biground left='49%' top='69%'/>
  <Littleround left='-38%' top='26%'/>
  <Littleround left='-38%' top='55%'/>
  <body>
    <slot />
  </body>
</html>

<script >
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  import { animateNav } from "./utils/animheader";

  gsap.registerPlugin(ScrollTrigger);
  
  window.addEventListener("load", () => {

    animateNav()
  })
  
    
  
</script>
